@import "~devextreme/dist/css/dx.common.css";
@import "~devextreme/dist/css/dx.light.css";


$background : rgba(0,0,0, 0.3);
$lightBlue: #0398dc;
$shadow: rgba(0,0,0,0.4);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
